{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h1>Quiz!</h1>
                    <h4 style="text-decoration: underline" class="forgot text-muted">С
                        возвращением {{ current_user.first_name + " " + current_user.last_name }}</h4>
                    <a href="{{ url_for('main.list') }}" class="box-button">Играем? <i class="fas fa-play"></i></a>
                    <a href="{{ url_for('main.rating') }}" class="box-button">Таблица результатов <i
                            class="fas fa-list"></i></a>
                    <a href="{{ url_for('auth.logout') }}" class="box-button">Выход <i class="fas fa-sign-out-alt"></i></a>
                    <a href="{{ url_for('main.reload') }}" style="text-decoration: underline" class="forgot text-muted">Обновить
                        базу</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
